@CHARSET "UTF-8";
Header {
  margin-right:auto;
  margin-left:auto;
  margin-top:5px;
  padding:0;
  overflow:hidden;
}

body {
	width:60%;
 	margin-right:auto;
	margin-left:auto;
	margin-top:5px;
	padding:0px;
//	style:block
	overflow:hidden;
}

H1 {
/*	color: black; 
    text-shadow: skyblue 0px 2px, skyblue 2px 0px, skyblue -2px 0px, 
    skyblue 0px -2px, skyblue -1.4px -1.4px, skyblue 1.4px 1.4px, 
    skyblue 1.4px -1.4px, skyblue -1.4px 1.4px; 
  */  
  color: black;
  
  text-shadow: #99FFCC 0px 0px 10px 10px; /* for browsers with spread support 
}

    
}

	
footer {
	position: right;
	float: right;
		
}


nav {
  width:50%;
  background-color=#ffffff;
}

nav ul {
  list-style-type:none;
}

nav li {
  margin-right:5px;
}
